.create-account {
    .container {




        //.form-heading{grid-area: heading;}
        form {
            width: 50%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr; /* Dela upp i två kolumner */
            grid-auto-rows: minmax(100px, auto);
            column-gap: 20px;
            grid-template-areas: 
                "heading heading"
               "firstname lastname"
                "email email"
                "password password"
                "confirmPassword confirmPassword"
                "terms terms"; /* Uppdaterat för att matcha koden nedan */
            label {
                display: block;
            }

            input {
                width: 100%;
                padding: 5px;
                margin-top: 5px;
            }

            .form-heading{
                grid-area: heading;
            }

            .label-firstname {grid-area: firstname;}

            .label-lastname {grid-area: lastname;}

            .label-email { grid-area: email;}

            .label-password {grid-area: password;}

            .label-confirm-password {grid-area: confirmPassword;}

            .terms {
                gap: 10px;
                grid-area: terms;
                flex-direction: row;
                display: -webkit-inline-box;
            }
        }
    }
}