<section class="showcase">
    <div class="container">
        <img src="images/showcase-image.svg" alt="" class="background-image">
        <div class="content">
            <h1>Task Management Assistant you gonna lova</h1>
            <p>We offer you a new generation of task management system. Plan, manage & track all your tasks in one flexible tool.</p>
            <a href="#" class="btn-theme-s btn-short">Get started for free</a>
            <div class="brands-wrapper">
                <h6>Largets companies use our tool to work efficently</h6>
                <div class="brands">
                    <img src="images/brands/brand1.svg" alt="">
                    <img src="images/brands/brand2.svg" alt="">
                    <img src="images/brands/brand3.svg" alt="">
                    <img src="images/brands/brand4.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>